style.
  html{
    background-color: #0098D8;
    font-family: Calibri;
    color: white;
    margin: auto;
    margin-top: 100px;
  }
  .row{
    width: 500px;
    display: table;
    margin: 0 auto;
  }
  h1
  {
    font-size: 5.5rem;
  }
.row
  .col-md-6.col-md-offset-3
    h1 (._.)
    h2 No tiene permisos para acceder a la pagina.
    h2 Contacta con el administrador.