extends layout

block content
	#contenido.cont-ingreso.container.col-md-10
		.jumbotron
			h1.display-3= title
			p.lead= info
			hr.my-4
			p= error
			hr.my-4
			p.lead
				a.div-button.btn.btn-primary.btn-block.btn-lg(href='../Consultas', role='button', style='width: 200px') Consultas