extends layout

block content
  // Contenido Derecha
  #contenido.container.row.col-md-10
    .row 
      h2=sedes[0].nombre_sede
      h2 -
      h2=sedes[0].ciudad_sede
      console.log('assasasas')
    .row
      .col-md-4
        .card
          .card-block
            h6 TOTAL EQUIPOS
            h2 945
            canvas#myChart(width='400', height='400')
      .col-md-4
        .card
          .card-block
            h6 TOTAL MONITORES
            h2 962
      .col-md-4
        .card
          .card-block
            h6 TOTAL HARDPHONES
            h2 216
      .col-md-12
        hr
      .col-md-4
        .card
          .card-block
            h6 Colmena Seguros
            .card-blockquote Equipo / Monitor
            h2 167/167
      .col-md-4
        .card
          .card-block
            h6 BCSC
            .card-blockquote Equipo / Monitor
            h2 214/214
      .col-md-4
        .card
          .card-block
            h6 Cobranzas BCSC
            .card-blockquote Equipo / Monitor
            h2 235/235
      .col-md-4
        .card
          .card-block
            h6 Retencion BCSC
            .card-blockquote Equipo / Monitor
            h2 23/23
      .col-md-4
        .card
          .card-block
            h6 Televentas
            .card-blockquote Equipo / Monitor
            h2 89/89
      .col-md-4
        .card
          .card-block
            h6 Movistar
            .card-blockquote Equipo / Monitor
            h2 37/37
      .col-md-4
        .card
          .card-block
            h6 Chile Fija
            .card-blockquote Equipo / Monitor
            h2 12/12
      .col-md-12
        hr
      .col-md-4
        .card
          .card-block
            h6 Sala Formacion 1
            .card-blockquote Equipo / Monitor
            h2 21/21
      .col-md-4
        .card
          .card-block
            h6 Sala Formacion 2
            .card-blockquote Equipo / Monitor
            h2 21/21
      .col-md-4
        .card
          .card-block
            h6 Sala Formacion 3
            .card-blockquote Equipo / Monitor
            h2 21/21
      .col-md-4
        .card
          .card-block
            h6 Sala Formacion 4
            .card-blockquote Equipo / Monitor
            h2 21/21
      .col-md-4
        .card
          .card-block
            h6 Sala Formacion 5
            .card-blockquote Equipo / Monitor
            h2 21/21
      .col-md-4
        .card
          .card-block
            h6 Administracion
            .card-blockquote Equipo / Monitor
            h2 10/10
      .col-md-4
        .card
          .card-block
            h6 Laboral
            .card-blockquote Equipo / Monitor
            h2 6/6
    // Contenido Derecha

append footer
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js')
  script(src='/javascripts/chartinit.js')