extends layout

block content
  // Contenido Derecha
  #contenido.container.row.col-lg-10.col-md-12
    script.
      ocupacionSede="#{datos}"
      ocupacionSitio="#{datos2}"
    .row#selectSede.offset-md-4
      h5 DataSet Actual :    
      select.h5
        optgroup(label='Colombia')
          option DXCO - Ibagué
          option DXCO - Manizales
          option DXCO - Bogotá
          option DXCO - Armenia
          option DXCO - Cali
          option DXCO - Medellin
        optgroup(label='Perú')
          option DXPE - Lima
        optgroup(label='Chile')
          option DXCH - Santiago
        optgroup(label='Mexico')
          option DXMX - Mexico DF
    .col-lg-10.offset-lg-1.col-md-12
        .card
          .card-block
            #regions_div
    .col-lg-8.col-md-6.offset-lg-2
      .card
        .card-block
          h4 OCUPACION DXCO SEDE
          canvas#myDonutChart
    .col-lg-8.col-md-6.offset-lg-2
      .card
        .card-block
          h4 OCUPACION DXCO SEDE
          canvas#myBarChart
      //- .col-md-4
      //-   .card
      //-     .card-block
      //-       h6 TOTAL CPU's
      //-       h2 216
      //- .col-md-4
      //-   .card
      //-     .card-block
      //-       h6 TOTAL HARDPHONES
      //-       h2 216
      //- .col-md-4
      //-   .card
      //-     .card-block
      //-       h6 TOTAL MONITORES
      //-       h2 216
      //- .col-md-12
      //-   hr
      //- .col-md-4
      //-   .card
      //-     .card-block
      //-       h6 Colmena Seguros
      //-       .card-blockquote Equipo / Monitor
      //-       h2 167/167
      //- .col-md-4
      //-   .card
      //-     .card-block
      //-       h6 BCSC
      //-       .card-blockquote Equipo / Monitor
      //-       h2 214/214
      //- .col-md-4
      //-   .card
      //-     .card-block
      //-       h6 Cobranzas BCSC
      //-       .card-blockquote Equipo / Monitor
      //-       h2 235/235
      //- .col-md-4
      //-   .card
      //-     .card-block
      //-       h6 Retencion BCSC
      //-       .card-blockquote Equipo / Monitor
      //-       h2 23/23
      //- .col-md-4
      //-   .card
      //-     .card-block
      //-       h6 Televentas
      //-       .card-blockquote Equipo / Monitor
      //-       h2 89/89
      //- .col-md-4
      //-   .card
      //-     .card-block
      //-       h6 Movistar
      //-       .card-blockquote Equipo / Monitor
      //-       h2 37/37
      //- .col-md-4
      //-   .card
      //-     .card-block
      //-       h6 Chile Fija
      //-       .card-blockquote Equipo / Monitor
      //-       h2 12/12
      //- .col-md-12
      //-   hr
      //- .col-md-4
      //-   .card
      //-     .card-block
      //-       h6 Sala Formacion 1
      //-       .card-blockquote Equipo / Monitor
      //-       h2 21/21
      //- .col-md-4
      //-   .card
      //-     .card-block
      //-       h6 Sala Formacion 2
      //-       .card-blockquote Equipo / Monitor
      //-       h2 21/21
      //- .col-md-4
      //-   .card
      //-     .card-block
      //-       h6 Sala Formacion 3
      //-       .card-blockquote Equipo / Monitor
      //-       h2 21/21
      //- .col-md-4
      //-   .card
      //-     .card-block
      //-       h6 Sala Formacion 4
      //-       .card-blockquote Equipo / Monitor
      //-       h2 21/21
      //- .col-md-4
      //-   .card
      //-     .card-block
      //-       h6 Sala Formacion 5
      //-       .card-blockquote Equipo / Monitor
      //-       h2 21/21
      //- .col-md-4
      //-   .card
      //-     .card-block
      //-       h6 Administracion
      //-       .card-blockquote Equipo / Monitor
      //-       h2 10/10
      //- .col-md-4
      //-   .card
      //-     .card-block
      //-       h6 Laboral
      //-       .card-blockquote Equipo / Monitor
      //-       h2 6/6
    // Contenido Derecha

append footer
  //- script(src='/javascripts/Chart.bundle.min.js')
  script(src='/javascripts/Chart.min.js')
  script(src='/javascripts/chartsjs-plugin-data-labels.js')
  script(src='/javascripts/chartinit.js')
  script(src='/javascripts/loader-geochart.js')
  script(src='/javascripts/init-geochart.js')