extends layout

block content
  // Contenido Derecha
  #contenido.cont-ingreso.container.col-lg-10.col-md-12
    form#ingreso-form.form-horizontal(method='post', action='../CrearArticulo')
      .form-title
        h2 Formulario de Ingreso de Articulos
        if info != undefined
        .form-group.row
          p= info
      .form-group.row
        label.col-md-2.col-form-label(for='form-ing-articulo') Articulo
        .col-md-6
          select(name='articulo')#select-articulo.form-control
            option(value=' ') Seleccione un Articulo
            for values in consulta0
              option(value= values.idtipo_item)= values.nombre_item
      .form-group.row
        label.col-md-2.col-form-label(for='form-ing-articulo') Tipo
        .col-md-6
          select(name='tipoarticulo')#select-tipoarticulo.form-control
            option(value=' ') Seleccione Tipo Articulo
      .form-group.row
        label.col-md-2.col-form-label(for='form-ing-serial') Serial
        .col-md-6
          input.form-control(type='text-uppercase', placeholder='Serial Fabricante', name='serial')
      .form-group.row
        label.col-md-2.col-form-label(for='form-ing-plaqueta') Plaqueta
        .col-md-6
          input.form-control(type='text-uppercase', placeholder='Serial Digitex', name='plaqueta')
      .form-group.row
        label.col-md-2.col-form-label(for='form-ing-estado') Estado
        .col-md-6
          select(name='estado')#select-estado.form-control
            option(value=' ') Seleccione un Estado
            for val in consulta1
              option(value=val.id_estados)= val.nombre_estado
      .form-group.row
        label.col-md-2.col-form-label(for='form-ing-sede') Sede
        .col-md-6
          select(name='sede')#select-sede.form-control
            option(value=' ') Seleccione la Sede
            for val in consulta2
              option(value=val.id_sede)= val.nombre_sede
      .form-group.row
        label.col-md-2.col-form-label(for='form-ing-ubicacion') Ubicacion
        .col-md-6
          select(name='bodega')#select-bodegas.form-control
            option(value=' ') Seleccione la Ubicacion
      .form-group.row
        label.col-md-2.col-form-label(for='form-ing-numpuesto') N° Puesto
        .col-md-6
          select(name='posicion')#select-posiciones.form-control
            option(value=' ') Seleccione el Puesto
      .button-container.form-group.row
        .col-md-2
          button(type='submit')#btn-registrar.div-button.btn.btn-primary.btn-block Registrar
        .col-md-2
          a(href='../Ingresos', style='text-decoration: none;')
            button(type='button').div-button-danger.btn.btn-primary.btn-block Limpiar
    //- if info != undefined
    //-   p= info
  // Contenido Derecha

append footer
  script(src='/javascripts/api-ingresos.js')
  //- script(src='/javascripts/ingresos.js')
  script(src='/javascripts/bootstrapvalidator.js')
  script(src='/javascripts/validacion.js')