doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Sistema Gestion Inventarios
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    link(rel='shorcut icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='/fonts/fonts.css')
    // Bootstrap CSS
    link(rel='stylesheet', href='/stylesheets/bootstrap-flex.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
  body
    #main-div.container-fluid
      // HEADER
      header#header-container
        .container-fluid
          .row.flex-items-xs-middle.flex-items-xs-between
            a#linktitle(href='/')
              #logo.col-xs-6.col-md-3
                #title1
                  h1.display-6
                    | Sistema
                    br
                    | Gestion
                    br
                    | Inventario
                #title2
                  img
            ul.nav.navbar-right.top-nav
              a
                button.navbar-toggler.hidden-lg-up(data-toggle='collapse', data-target='.navbar-ex1-collapse')
                  | ☰
                #usuario-login.row.flex-items-xs-middle.flex-items-xs-between.hidden-md-down(data-toggle='collapse', data-target='#logout')
                  li.text-uppercase.hidden-xs-down
                    i.fa.fa-user-circle-o
                  a.text-uppercase.hidden-xs-down= currentuser.nombre
                  ul#logout.collapse
                    li
                      a(href='/auth/logout') Salir
                  b.text-uppercase.hidden-xs-down.fa.fa-fw.fa-caret-right
      // HEADER
      // Menu Escondido
      #menu-escondido.collapse.navbar-collapse.navbar-ex1-collapse
        ul.nav.navbar-nav.side-nav
          li
            a(href='/')
              i.fa.fa-fw.fa-dashboard
              | dashboard
          li
            a(href='../Ingresos')
              i.fa.fa-fw.fa-edit
              |  Ingresos
          li
            a(href='../Traslados')
              i.fa.fa-fw.fa-exchange
              |  Traslados
          li
            a(href='../Consultas')
              i.fa.fa-fw.fa-search
              |  Colsultas
          li
            a(href='../Actualizar')
              i.fa.fa-fw.fa-pencil
              |  Actualizar Inv
          li
            a(href='../Notificaciones')
              i.fa.fa-fw.fa-bell-o
              |  Notificaciones
          li
            a(href='../auth/signup')
              i.fa.fa-fw.fa-user
              |  Usuarios
          li.active
            a(href='../Info')
              i.fa.fa-fw.fa-info
              |  Info
          li.active
            a(href='../auth/logout')
              i.fa.fa-fw.fa-sign-out
              |  Salir
      // Menu Escondido
      section#detalle
        .container-fluid.delgado
          .row
            // Lista Menu Izquierda
            #menu-wrapper.col-md-2.delgado.hidden-md-down
              #side-menu.container
                ul.nav.navbar-nav.side-nav
                  li
                    a(href='../')
                      i.fa.fa-fw.fa-dashboard
                      |  dashboard
                  li
                    a(href='../Ingresos')
                      i.fa.fa-fw.fa-edit
                      |  Ingresos
                  li
                    a(href='../Traslados')
                      i.fa.fa-fw.fa-exchange
                      |  Traslados
                  li
                    a(href='../Consultas')
                      i.fa.fa-fw.fa-search
                      |  Colsultas
                  li
                    a(href='../Actualizar')
                      i.fa.fa-fw.fa-pencil
                      |  Actualizar Inv
                  li
                    a(href='../Notificaciones')
                      i.fa.fa-fw.fa-bell-o
                      |  Notificaciones 
                      span#pill 1
                  li
                    a(href='../auth/signup')
                      i.fa.fa-fw.fa-user
                      |  Usuarios
                  li.active
                    a(href='../Info')
                      i.fa.fa-fw.fa-info
                      |  Info
                  li.active
                    a(href='../auth/logout')
                      i.fa.fa-fw.fa-sign-out
                      |  Salir
            // Lista Menu Izquierda
            block content
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/tether.min.js')
    script(src='/javascripts/bootstrap.min.js')

    block footer