extends layout

block content
  // Contenido Derecha
  #contenido.cont-ingreso.container.col-lg-10.col-md-12
    .form-title
      h2 Notificaciones
    // Formulario de busqueda de registros
    #buscar_campo.container
      .row.clearfix
        // input-group-lg
        .input-group.col-md-10.col-sm-6
          span.input-group-addon Fecha Inicial
          input.form-control(type='date', value='2017-01-01')
          span.input-group-addon Fecha Final
          input.form-control(type='date', value='2017-12-01')
          button#btnBuscarH.btn.btn-primary(type='button') Buscar!
          //- span#sizing-addon1.input-group-addon Buscar
          //- input.form-control(type='text', placeholder='Ingrese el registro a buscar', aria-describedby='sizing-addon1')
          //- span#sizing-addon1.input-group-addon Limpiar
    .container
      #tabla_consultas.container.tablas.tabla-consulta
        .row.clearfix
          .col-md-12.column
            table#tab_logic.table.table-bordered.table-hover
              thead.table-head.thead-inverse
                tr
                  th.text-center
                    | ID
                  th.text-center
                    | Origen
                  th.text-center
                    | Campaña
                  th.text-center
                    | Destino
                  th.text-center
                    | Ticket
                  th.text-center
                    | Fecha
                  th.text-center
                    | Usuario
                  th.text-center
                    | Estado
                  th.text-center
                    | Articulo
              tfoot.table-footer
                tr
                  th
                  th
                  th
                  th
                  th
                  th
                  th
                  th
                  th
              tbody
                tr#addr0
                  td
                    div 1
                  td
                    div DXCO IBAGUE / ADMINISTRACION / PUESTO 6
                  td
                    div LABORAL
                  td
                    div DXCO IBAGUE / LABORAL / PUESTO 1
                  td
                    div 449750
                  td
                    div 10/11/2017
                  td
                    div DAROD01
                  td
                    div ACTIVO
                  td
                    div CPU 101547
                tr#addr0
                  td
                    div 1
                  td
                    div DXCO IBAGUE / BODEGA 2 / PUESTO 3
                  td
                    div BCS SAC
                  td
                    div DXCO IBAGUE / BODEGA 4 / PUESTO 97
                  td
                    div 449750
                  td
                    div 10/11/2017
                  td
                    div DAROD01
                  td
                    div ACTIVO
                  td
                    div MONITOR 101547
                tr#addr0
                  td
                    div 1
                  td
                    div DXCO IBAGUE / ALMACEN / PUESTO 99
                  td
                    div BCS SAC
                  td
                    div DXCO IBAGUE / BODEGA 1 /PUESTO 205
                  td
                    div 449750
                  td
                    div 10/11/2017
                  td
                    div DAROD01
                  td
                    div ACTIVO
                  td
                    div IMPRESORA 101547
    // Formulario de busqueda de registros
  // Contenido Derecha
