extends layout

block content
  // Contenido Derecha
  #contenido.cont-notificacion.container.col-lg-10.col-md-12
    .form-title
      h2 Notificaciones
    // Formulario de busqueda de registros
    #buscar_campoNotifica.container
      .row.clearfix
        // input-group-lg
        .input-group.col-md-10.col-sm-6
          span.input-group-addon Fecha Inicial
          input#date1.form-control(type='date', value='')
          span.input-group-addon Fecha Final
          input#date2.form-control(type='date', value='')
          button(type='submit')#btnBuscarH.btn.btn-primary Buscar!
          button(type='button')#btnLimpiar.btn.btn-secondary Limpiar!
    .container.notificaContainer
      #tabla_notifica.container.tablas.tabla-consulta
        .row.clearfix
          .col-md-12.column
            table#tab_logic.table.table-bordered.table-hover
              thead.table-head.thead-inverse
                tr
                  th.text-center
                    | ID
                  th.text-center
                    | Sede Origen
                  th.text-center
                    | Ubicacion Origen
                  th.text-center
                    | Puesto Origen
                  th.text-center
                    | Sede Destino
                  th.text-center
                    | Ubicacion Destino
                  th.text-center
                    | Puesto Destino
                  th.text-center
                    | Ticket
                  th.text-center
                    | Fecha
                  th.text-center
                    | Usuario
                  th.text-center
                    | Estado
                  th.text-center
                    | Articulo
                  th.text-center
                    | Modelo
                  th.text-center
                    | Plaqueta
                  th.text-center
                    | Serial
              tbody
    // Formulario de busqueda de registros
  // Contenido Derecha
append footer
  link(rel='stylesheet', href='/stylesheets/pagination.css')
  link(rel='stylesheet', href='/stylesheets/Buttons/buttons.dataTables.min.css')
  script(src='/javascripts/pagination.js')
  script(src='/javascripts/api-notificaciones.js')
  //- script(src='/javascripts/notificacionesbusqueda.js')
  //- script(src='/javascripts/Buttons/dataTables.buttons.min.js')
  //- script(src='/javascripts/Buttons/buttons.flash.min.js')
  //- script(src='/javascripts/Buttons/jszip.min.js')
  //- script(src='/javascripts/Buttons/pdfmake.min.js')
  //- script(src='/javascripts/Buttons/vfs_fonts.js')
  //- script(src='/javascripts/Buttons/buttons.html5.min.js')
  //- script(src='/javascripts/Buttons/buttons.print.min.js')