extends layout

block content
  // Contenido Derecha
  // Contenido Derecha
  #contenido.cont-ingreso.container.col-md-10
    form#ingreso-form.form-horizontal(method='post', action='../CrearTraslado')
      .form-title
        h2 Traslados de Activos
      #ticket_campo.container
        .row.clearfix
          .input-group
            span#sizing-addon1.input-group-addon Ticket
            input.form-control(type='text', placeholder='Ingrese el numero de la peticion', aria-describedby='sizing-addon1', name='ticket')
      // Tabla de Registro de Movimientos
      .loader
      #tabla_traslados.container.tablas
        .row.clearfix
          .col-md-12.column
            table#tab_logic.table.table-bordered.table-hover
              thead.table-head.thead-inverse
                tr
                  th.text-center
                    | N°
                  th.text-center
                    | Bodega
                  th.text-center
                    | Puesto
                  th.text-center
                    | Activo
                  th.text-center
                    i.fa.fa-arrows-h
                  th.text-center
                    | Bodega
                  th.text-center
                    | Puesto
                  th.text-center
                    | Activo
                  th.text-center
                    i.fa.fa-refresh
              tbody
                tr#addr0
                  td
                    | 1
                  td
                    section
                      select(name='ubicacionI').form-control.selectItem#itembodegaI
                          option(value=' ') Seleccione Bodega
                          for values in consulta3
                            option(value= values.id_bodega)= values.nombre_bodega
                  td
                    section
                      select(name='posicionI').form-control.select-posicionesI#puestoI
                        option(value=' ') Seleccione el Puesto
                  td
                    #select-list
                      div
                        select(name='item1').form-control.selectItem#itemI
                          option(value=' ') Seleccione Item
                          for values in consulta2
                            option(value= values.tipo)= values.nombre_item
                  td
                    i.fa.fa-arrows-h
                  td
                    section
                      select(name='ubicacionF').form-control.selectItem#itembodegaF
                          option(value=' ') Seleccione Bodega
                          for values in consulta3
                            option(value= values.id_bodega)= values.nombre_bodega
                  td
                    section
                      select(name='posicionF').form-control.select-posicionesI#puestoF
                        option(value=' ') Seleccione el Puesto
                  td
                    #select-list
                      div
                        select(name='item2').form-control.selectItem#itemF
                          option(value=' ') Seleccione Item
                          for values in consulta2
                            option(value= values.tipo)= values.nombre_item
                  td
                    input.form-check-input.big-checkbox(type='checkbox', name='inversa1')
        .row.add-container
          .col-md-6.row
            a#add_row.btn.btn-default.pull-left
              i.fa.fa-plus-circle
          .col-md-6.row
            a#delete_row.pull-right.btn.btn-default
              i.fa.fa-minus-circle
      // Tabla de Registro de Movimientos
      .button-container.form-group.row
        .col-md-2
          button(type='submit')#traslado.div-button.btn.btn-primary.btn-block Registrar
        .col-md-2
          a(href='../Traslados', style='text-decoration: none;')
            button(type='button').div-button-danger.btn.btn-primary.btn-block Limpiar
  // Contenido Derecha

append footer
  //- link(rel='stylesheet', href='/stylesheets/multi-select.css')
  //- link(rel='stylesheet', href='/stylesheets/dropdown.css')
  link(rel='stylesheet', href='/stylesheets/loader.css')
  script(src='/javascripts/api.js')
  //- script(src='/javascripts/app.js')
  //- script(src='/javascripts/multi-select.js')
  //- script(src='/javascripts/traslados.js')   <------
  //- script(src='/javascripts/bootstrapvalidator.js')  <------
  //- script(src='/javascripts/validacion.js')  <------
  //- script(src='/javascripts/action.js')    <---------
