doctype html
html
  head
    title jQuery Dropdown
    meta(charset='utf8')
    link(rel='stylesheet', type='text/css', href='./temp/demo.css')
    link(rel='stylesheet', type='text/css', href='./temp/dropdown.css')
    style(type='text/css').
      .dropdown-toggle .demo-img { margin: -10px 0 -10px -20px; }
  body
    main
      article#demo-3
        header
          h4 Nested
          p Dropdown position will be remembered when reopened
        section
          select#datos(data-dropdown='{ "closeReset": false }')
            optgroup(label='Bodega 1')
              option Puesto 1
              option Puesto 2
              option Puesto 3
            optgroup(label='Bodega 2')
              option Puesto 1
              option Puesto 2
              option Puesto 3
            optgroup(label='Bodega 3')
              option Puesto 1
              option Puesto 2
              option Puesto 3
    script(src='./temp/jquery.min.js')
    script(src='./temp/jquery.dropdown.js')
    script(src='./temp/action.js')


append footer
  //- link(rel='stylesheet', href='/stylesheets/bootstrap-flex.min.css')  
  //- link(rel='stylesheet', href='/stylesheets/app.css')
  //- link(rel='stylesheet', href='/stylesheets/dropdown.css')
  //- script(src='/javascripts/jquery.min.js')
  //- script(src='/javascripts/tether.min.js')
  //- script(src='/javascripts/bootstrap.min.js')
  //- script(src='/javascripts/app.js')
  //- script(src='/javascripts/multi-select.js')
  //- script(src='/javascripts/traslados.js')
  //- script(src='/javascripts/jquery.dropdown.js')
  //- script(src='/javascripts/action.js')
