extends layout

block content
  // Contenido Derecha
  // Contenido Derecha
  #contenido.container.col-lg-10.col-md-12
    form#ingreso-form.form-horizontal(method='post', action='../CrearTraslado')
      .form-title
        h2 Traslados de Activos
      #ticket_campo.container.form-group
        .row
          .input-group
            span#sizing-addon1.input-group-addon.col-md-1 Ticket
            input.form-control.col-md-3(type='text', placeholder='Ingrese el numero de la peticion', aria-describedby='sizing-addon1', name='ticket')
            button#prueba PRUEBA
      // Tabla de Registro de Movimientos
      .loader
      #tabla_traslados.container.tablas
        .row.clearfix
          .col-md-12.column
            table#tab_logic.table.table-bordered.table-hover.table-sm
              thead.table-head.thead-inverse
                tr
                  th.text-center
                    | N°
                  th.text-center
                    | Bodega
                  th.text-center
                    | Puesto
                  th.text-center
                    | Activo
                  th.text-center
                    i.fa.fa-arrows-h
                  th.text-center
                    | Bodega
                  th.text-center
                    | Puesto
                  th.text-center
                    | Activo
                  th.text-center
                    i.fa.fa-refresh
              tbody
        .row.add-container
          .col-md-6.row
            a#add_row.btn.btn-default.pull-left
              i.fa.fa-plus-circle
          .col-md-6.row
            a#delete_row.pull-right.btn.btn-default
              i.fa.fa-minus-circle
      // Tabla de Registro de Movimientos
      .button-container.form-group.row
        .col-md-2
          button(type='submit')#traslado.div-button.btn.btn-primary.btn-block Registrar
        .col-md-2
          a(href='../Traslados', style='text-decoration: none;')
            button(type='button').div-button-danger.btn.btn-primary.btn-block Limpiar
  #confirmTraslado.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Modal title
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          | ...
        .modal-footer
          button#cancel.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
          button#confirm.btn.btn-success(type='button') Confirmar
  // Contenido Derecha

append footer
  script(src='/javascripts/api.js')
  script(src='/javascripts/app.js')
  script(src='/javascripts/bootstrapvalidator.js')
  script(src='/javascripts/validacion-traslados.js')
  link(rel='stylesheet', href='/stylesheets/multi-select.css')
  script(src='/javascripts/multi-select.js')
  //- script(src='/javascripts/formTraslados.js')
  
