doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Sistema Gestion Inventarios
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
.container
  .col-lg-6.col-md-8.offset-lg-3.offset-md-2
    .panel.panel-default
      .panel-heading
        h1.display-2= 'Sistema Gestion de Inventario'
      .panel-body
        a=' '
        form(action='/auth/signin' method='post' autocomplete='off')
          .form-group
            input(type='text' name='username' id='nombre' placeholder='Usuario').form-control
          .form-group
            input(type='password' name='password' id='password' placeholder='Password').form-control
          button(type='submit').btn-outline-info.btn-lg.btn-block= 'INGRESAR'
      #image.col-lg-3.col-md-4
        img(src='/images/logo-azul_1.png')

  link(rel='stylesheet', href='/stylesheets/bootstrap-flex.min.css')
  link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
  link(rel='stylesheet', href='/stylesheets/login.css')
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/tether.min.js')
  script(src='/javascripts/bootstrap.min.js')